  html,
  body {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      font-family: Ubuntu;
      font-weight: 400;
      background-color: #f1f1f1;
  }
  
  .main_div {
      margin: 0;
      padding: 0;
  }
  
  .top_div {
      height: 20%;
      width: 100%;
      padding-bottom: 0;
      background-color: #1ba3c4;
  }
  
  .top_heading {
      color: #ffffff;
      padding-top:20px;
      /* padding: 20px 0 20px 0; */
      margin: 0;
      text-transform: uppercase;
      text-align: center;
  }
  
  .cmd_input {
      padding: 0 0 10px 0;
  }
  
  .row {
      width: 100%;
      margin: 0px;
  }
  
  #imageuploader {
      display: none;
  }
  
   :root {
      --input-padding-x: 1.5rem;
      --input-padding-y: .75rem;
  }
  
  .card-signin {
      border: 0;
      border-radius: 1rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-signin .card-title {
      margin-bottom: 2rem;
      font-weight: 300;
      font-size: 1.5rem;
  }
  
  .card-signin .card-body {
      padding: 2rem;
  }
  
  .form-signin {
      width: 100%;
  }
  
  .form-signin .btn {
      font-size: 80%;
      border-radius: 5rem;
      letter-spacing: .1rem;
      font-weight: bold;
      padding: 1rem;
      transition: all 0.2s;
  }
  
  .form-label-group {
      position: relative;
      margin-bottom: 1rem;
  }
  
  .form-label-group input {
      height: auto;
      border-radius: 2rem;
  }
  
  .form-label-group>input,
  .form-label-group>label {
      padding: var(--input-padding-y) var(--input-padding-x);
  }
  
  .form-label-group>label {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      margin-bottom: 0;
      /* Override default `<label>` margin */
      line-height: 1.5;
      color: #495057;
      border: 1px solid transparent;
      border-radius: .25rem;
      transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder {
      color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
      color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
      color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
      color: transparent;
  }
  
  .form-label-group input::placeholder {
      color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
      padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
      padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  .form-label-group input:not(:placeholder-shown)~label {
      padding-top: calc(var(--input-padding-y) / 3);
      padding-bottom: calc(var(--input-padding-y) / 3);
      font-size: 12px;
      color: #777;
  }
  
  .btn-google {
      color: white;
      background-color: #ea4335;
  }
  
  .btn-facebook {
      color: white;
      background-color: #3b5998;
  }
  /* Fallback for Edge
  -------------------------------------------------- */
  
  @supports (-ms-ime-align: auto) {
      .form-label-group>label {
          display: none;
      }
      .form-label-group input::-ms-input-placeholder {
          color: #777;
      }
  }
  /* Fallback for IE
  -------------------------------------------------- */
  
  @media all and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
      .form-label-group>label {
          display: none;
      }
      .form-label-group input:-ms-input-placeholder {
          color: #777;
      }
  }
  
  .navbar-default .navbar-nav>li>a {
      color: unset;
  }
  /* active link */
  /* .navbar-default .navbar-nav > .active  {
    
  } */
  
  .navbar .navbar-nav {
      color: #000;
      background: #1ba3c4;
  }
  
  .navbar .navbar-nav>.active>a,
  .navbar .navbar-nav>.active>a:hover,
  .navbar .navbar-nav>.active>a:focus {
      color: #000;
      background: #ffffff;
  }
  
  .active {
      color: #000;
      background: #ffffff;
  }

  /* Namratha Cropper.css */

  .page {
    margin: 1em auto;
    max-width: 768px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
  }
  
  .box {
    padding: 0.5em;
    width: 100%;
    margin:0.5em;
  }
  
  .box-2 {
    padding: 0.5em;
    width: calc(100%/2 - 1em);
  }
  
  .options label,
  .options input{
    width:4em;
    padding:0.5em 1em;
  }
  .btn{
    background:white;
    color:black;
    border:1px solid black;
    padding: 0.5em 1em;
    text-decoration:none;
    margin:0.8em 0.3em;
    display:inline-block;
    cursor:pointer;
  }
  
  .hide {
    display: none;
  }
  
  img {
    max-width: 100%;
  }
  

  
  /*-----------------------------------*/
  
  .docs-tooltip {
    display: block;
    margin: -6px -12px;
    padding: 6px 12px;
  }
  
  .docs-tooltip > .icon {
    margin: 0 -3px;
    vertical-align: top;
  }
  
  .tooltip-inner {
    white-space: normal;
  }
   
  /*-------------------------------------------------*/

  @media (max-width: 400px) {
    .btn-group-crop {
      margin-right: -15px!important;
    }
  
    .btn-group-crop > .btn {
      padding-left: 5px;
      padding-right: 5px;
    
    }
  
    .btn-group-crop .docs-tooltip {
      margin-left: -5px;
      margin-right: -5px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  /* Button
 * -------------------------------------------------------------------------- */

  .btn-primary {
    border-color: #003973; /* hsb(210, 100%, 45%) */
    background-color: #00468c; /* hsb(210, 100%, 55%) */
    float: right;
  }

  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active,
  .btn-primary.active,
  .btn-primary.active:focus,
  .btn-primary.active:hover {
    border-color: #00264d; /* hsb(208, 100%, 10%) */
    background-color: #003366; /* hsb(208, 100%, 40%) */
  }

  