<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <title>Test Page!!!!!!</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css')}}" />
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
        <script>
            function setCookie(cname, cvalue, exdays) {
                var d = new Date();
                d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
                var expires = "expires=" + d.toUTCString();
                document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
            }

            function getCookie(cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }

            $(document).ready(function () {

                var img125xPath = ''
                var commnads = ['Upload', 'Process', 'Draw Bubble', 'Mark Profile', 'Detect Grid', 'Detect Profiles'];
                $('#autocomplete').autocomplete({
                    source: commnads,
                });
                $('.ui-autocomplete').click(function () {
                    var cmdval = $('#autocomplete').val();
                    getCommand(cmdval);

                });
                $('#autocomplete').keydown(function (e) {
                    var key = e.which;
                    if (key == 13) {
                        var cmdval = $(this).val();
                        getCommand(cmdval);
                    }

                });


            });

            function getCommand(selecteddropdown) {
                selecteddropdown = selecteddropdown.toLowerCase();
                if (selecteddropdown == 'upload') {
                    $('#imageuploader').click();
                    loadFile();
                } else if (selecteddropdown == 'detect grid') {
                    console.log('grid detection')
                    detectGrid();
                } else if (selecteddropdown == 'detect profiles') {
                    console.log('profile detection')
                    detectProfiles();
                }

            }

            function loadFile() {

                $("#imageuploader").change(function () {
                    debugger;
                    console.log("fileUpload");
                    var formData = new FormData();
                    formData.append('file', this.files[0]);
                    $.ajax({
                        url: '/imgUpload',
                        type: 'POST',
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            console.log(data);
                            setCookie("img125xPath", data, 1);
                            alert('Upload Successful');
                            var url = "/viewImage";
                            $(location).attr('href', url);

                        },
                        error: function () {
                            console.log("error");
                            /*$("#fileUploadError").removeClass("hide").text("An error occured!");
                            $("#files").children().last().remove();
                            $("#uploadFile").closest("form").trigger("reset");*/
                        }

                    });
                });
            }

            function detectGrid() {
                $.ajax({
                    url: '/detectgrids',
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        console.log(data);
                        alert(data);
                        var url = "/viewGrids";
                        $(location).attr('href', url);
                    },
                    error: function () {
                        console.log("error");

                    }

                });
            }

            function detectProfiles() {
                // debugger;
                // $('#imageuploader').val(getCookie('img125xPath'));
                // var formData = new FormData();
                // formData.append('File', $('#imageuploader').files[0]);
                // debugger;
                // $.ajax({
                //     url: 'http://192.168.77.71:8769/getEASTJson',
                //     type: 'POST',
                //     cache: false,
                //     data: formData,
                //     contentType: false,
                //     processData: false,
                //     success: function (data) {
                //         console.log(data);
                //         alert(data);
                //     },
                //     error: function (xhr, status, error) {
                //         debugger;
                //         console.log("error" + error);

                //     }

                // });

                $.ajax({
                    url: '/detectprofiles',
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        console.log(data);
                        alert(data);
                    },
                    error: function () {
                        console.log("error");

                    }

                });
            }
        </script>
    </head>

<body>
    <div class="container-fluid main_div">
        <div class="top_div">
            <h1 class="top_heading">Deep Drawing</h1>
            <h5 style=" text-align:center; color: #ffffff; ">Intelligence from drawings</h5>
            <form>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8 cmd_input">
                        <input type="text" class="form-control" id="autocomplete" placeholder="Your Command">
                        <input type="file" class="form-control" id="imageuploader" value="">
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </form>
        </div>

        <div class="row">
            <nav class="navbar navbar-default " style="background-color:#1ba3c4 ;border:0">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <ul class="nav navbar-nav ">
                        <li class="nav-link">
                            <a href="/viewImage" id="viewImage">Image</a>
                        </li>
                        <li class="nav-link">
                            <a href="/viewGrids" id="viewGrids">Grids Detected Image</a>
                        </li>
                        <li class="nav-link">
                            <a href="/downloadResultJson" id="downloadResultJson">Result JSON</a>
                        </li>
                        <li class="nav-link">
                            <a href="/viewStickDiagram" id="viewStickDiagram">Stick Drawing</a>
                        </li>
                        <li class="nav-link">
                            <a href="/getGrids" id="getGrid">Settings</a>
                        </li>
                        <li class="nav-link">
                            <a href="/help" id="help">Help</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2"></div>
            </nav>
        </div>

        <div class="row">
            {% block content%}
            <h3 class="text-center">Welcome </h3>
            {% endblock%}
        </div>

    </div>


</body>

</html>