{% extends 'test_base.html' %}



{% block content %}
<script>
       $(document).ready(function () {
              if ($('#viewGrids').hasClass('active')) {

              } else {
                     $('#viewGrids').addClass('active');
              }

       });

</script>
<div id="uploadedImageDiv">
       <img class="img-responsive" src="{{gridImageurl}}" alt="Grid Detected Image">

</div>
{% endblock %}