{% extends 'test_base.html' %}

{% block content %}
<script>
    $(document).ready(function () {
        if ($('#help').hasClass('active')) {

        } else {
            $('#help').addClass('active');
        }

    });

</script>
<div class="col-lg-1"></div>
<div class="col-lg-10">
    <h1> I am here to help You!!</h1>
</div>
<div class="col-lg-1"></div>
{% endblock %}