{% extends 'test_base.html' %}



{% block content %}
<script>
	$(document).ready(function () {
		if ($('#viewImage').hasClass('active')) {
			
		} else {
			$('#viewImage').addClass('active');
		}

	});

</script>
<div id="uploadedImageDiv">
	<img class="img-responsive" src="{{imageurl}}" alt="Uploaded Image">

</div>
{% endblock %}