{% extends 'test_base.html' %}



{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="{{ url_for('static',filename='js/cropper/cropper.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='js/cropper/cropper.css')}}" />
<script type="text/javascript" src="{{ url_for('static',filename='js/cropper/jquery-cropper.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/myjq.js')}}"></script>

<div class="container-fluid">


  <div class="row">
    <div class="col-md-9 docs-buttons" style="margin-bottom: 20px;">

      <div class="btn-group">
        <button type="button" class="btn btn-success" data-method="zoom" data-option="0.1" title="Zoom In">
          <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title=""
            data-original-title="$().cropper(&quot;zoom&quot;, 0.1)">
            <span class="fa fa-search-plus"></span>
          </span>
        </button>
        <button type="button" class="btn btn-success" data-method="zoom" data-option="-0.1" title="Zoom Out">
          <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title=""
            data-original-title="$().cropper(&quot;zoom&quot;, -0.1)">
            <span class="fa fa-search-minus"></span>
          </span>
        </button>
      </div>


      <!-- Show the cropped image in modal -->
      <div class="modal fade docs-cropped" id="getCroppedCanvasModal" aria-hidden="true"
        aria-labelledby="getCroppedCanvasTitle" role="dialog" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="getCroppedCanvasTitle">Cropped</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <a class="btn btn-primary" id="download" href="javascript:void(0);" download="cropped.jpg">Download</a>
            </div>
          </div>
        </div>
      </div><!-- /.modal -->

      <button type="button" class="btn btn-secondary" data-method="getData" data-option="" id="GetDatabtn"
        data-target="#putData">
        <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title=""
          data-original-title="$().cropper(&quot;getData&quot;)">
          Select Coordinates
        </span>
      </button>

      <button type="button" class="btn btn-secondary" id="getGridbtn">

        Get Grid

      </button>

      <textarea type="text" class="form-control" id="putData" rows="1"
        placeholder="Get data to here or set data with this value"></textarea>
    </div><!-- /.docs-buttons -->

    <div class="col-md-3 docs-toggles">

      <div class="dropdown dropup docs-options">
        <button type="button" class="btn btn-primary btn-block dropdown-toggle" id="toggleOptions"
          data-toggle="dropdown" aria-expanded="true">
          Toggle Options
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="toggleOptions" role="menu">
          <li class="dropdown-item">
            <div class="form-check">
              <input class="form-check-input" id="responsive" type="checkbox" name="responsive" checked="">
              <label class="form-check-label" for="responsive">responsive</label>
            </div>
          </li>
          <li class="dropdown-item">
            <div class="form-check">
              <input class="form-check-input" id="restore" type="checkbox" name="restore" checked="">
              <label class="form-check-label" for="restore">restore</label>
            </div>
          </li>
          <li class="dropdown-item">
            <div class="form-check">putData
              <input class="form-check-input" id="checkCrossOrigin" type="checkbox" name="checkCrossOrigin" checked="">
              <label class="form-check-label" for="checkCrossOrigin">checkCrossOrigin</label>
            </div>
          </li>
          <li class="dropdown-item">
            <div class="form-check">
              <input class="form-check-input" id="checkOrientation" type="checkbox" name="checkOrientation" checked="">
              <label class="form-check-label" for="checkOrientation">checkOrientation</label>
            </div>
          </li>
          <li class="dropdown-item">
            <div class="form-check">
              <input class="form-check-input" id="modal" type="checkbox" name="modal" checked="">
              <label class="form-check-label" for="modal">modal</label>
            </div>
          </li>
          <li class="dropdown-item">
            <div class="form-check">
              <input class="form-check-input" id="guides" type="checkbox" name="guides" checked="">
              <label class="form-check-label" for="guides">guides</label>
            </div>
          </li>
          <li class="dropdown-item">
            <div class="form-check">
              <input class="form-check-input" id="center" type="checkbox" name="center" checked="">
              <label class="form-check-label" for="center">center</label>
            </div>
          </li>
          <li class="dropdown-item">
            <div class="form-check">
              <input class="form-check-input" id="highlight" type="checkbox" name="highlight" checked="">
              <label class="form-check-label" for="highlight">highlight</label>
            </div>
          </li>
          <li class="dropdown-item">
            <div class="form-check">
              <input class="form-check-input" id="background" type="checkbox" name="background" checked="">
              <label class="form-check-label" for="background">background</label>
            </div>
          </li>
          <li class="dropdown-item">
            <div class="form-check">
              <input class="form-check-input" id="autoCrop" type="checkbox" name="autoCrop" checked="">
              <label class="form-check-label" for="autoCrop">autoCrop</label>
            </div>
          </li>
          <li class="dropdown-item">
            <div class="form-check">
              <input class="form-check-input" id="movable" type="checkbox" name="movable" checked="">
              <label class="form-check-label" for="movable">movable</label>
            </div>
          </li>
          <li class="dropdown-item">
            <div class="form-check">
              <input class="form-check-input" id="rotatable" type="checkbox" name="rotatable" checked="">
              <label class="form-check-label" for="rotatable">rotatable</label>
            </div>
          </li>
          <li class="dropdown-item">
            <div class="form-check">
              <input class="form-check-input" id="scalable" type="checkbox" name="scalable" checked="">
              <label class="form-check-label" for="scalable">scalable</label>
            </div>
          </li>
          <li class="dropdown-item">
            <div class="form-check">
              <input class="form-check-input" id="zoomable" type="checkbox" name="zoomable" checked="">
              <label class="form-check-label" for="zoomable">zoomable</label>
            </div>
          </li>
          <li class="dropdown-item">
            <div class="form-check">
              <input class="form-check-input" id="zoomOnTouch" type="checkbox" name="zoomOnTouch" checked="">
              <label class="form-check-label" for="zoomOnTouch">zoomOnTouch</label>
            </div>
          </li>
          <li class="dropdown-item">
            <div class="form-check">
              <input class="form-check-input" id="zoomOnWheel" type="checkbox" name="zoomOnWheel" checked="">
              <label class="form-check-label" for="zoomOnWheel">zoomOnWheel</label>
            </div>
          </li>
          <li class="dropdown-item">
            <div class="form-check">
              <input class="form-check-input" id="cropBoxMovable" type="checkbox" name="cropBoxMovable" checked="">
              <label class="form-check-label" for="cropBoxMovable">cropBoxMovable</label>
            </div>
          </li>
          <li class="dropdown-item">
            <div class="form-check">
              <input class="form-check-input" id="cropBoxResizable" type="checkbox" name="cropBoxResizable" checked="">
              <label class="form-check-label" for="cropBoxResizable">cropBoxResizable</label>
            </div>
          </li>
          <li class="dropdown-item">
            <div class="form-check">
              <input class="form-check-input" id="toggleDragModeOnDblclick" type="checkbox"
                name="toggleDragModeOnDblclick" checked="">
              <label class="form-check-label" for="toggleDragModeOnDblclick">toggleDragModeOnDblclick</label>
            </div>
          </li>
        </ul>
      </div><!-- /.dropdown -->
    </div><!-- /.docs-toggles -->
  </div>

  <div class="row">
    <div class="col-md-9 ">
      <!-- <h3>Demo:</h3> -->
      <div id="uploadedImageDiv">
        <img id='uploadedImage' class="img-responsive" src="{{imageurl}}" alt="Get Grid">
      </div>
    </div>
    <div class="col-md-3">


      <!-- <h3>Data:</h3> -->
      <div class="docs-data">
        <div class="input-group input-group-sm">
          <span class="input-group-prepend">
            <label class="input-group-text" for="dataX">X</label>
          </span>
          <input type="text" class="form-control" id="dataX" placeholder="x">
          <span class="input-group-append">
            <span class="input-group-text">px</span>
          </span>
        </div>
        <div class="input-group input-group-sm">
          <span class="input-group-prepend">
            <label class="input-group-text" for="dataY">Y</label>
          </span>
          <input type="text" class="form-control" id="dataY" placeholder="y">
          <span class="input-group-append">
            <span class="input-group-text">px</span>
          </span>
        </div>
        <div class="input-group input-group-sm">
          <span class="input-group-prepend">
            <label class="input-group-text" for="dataWidth">Width</label>
          </span>
          <input type="text" class="form-control" id="dataWidth" placeholder="width">
          <span class="input-group-append">
            <span class="input-group-text">px</span>
          </span>
        </div>
        <div class="input-group input-group-sm">
          <span class="input-group-prepend">
            <label class="input-group-text" for="dataHeight">Height</label>
          </span>
          <input type="text" class="form-control" id="dataHeight" placeholder="height">
          <span class="input-group-append">
            <span class="input-group-text">px</span>
          </span>
        </div>
      </div>
    </div>
  </div>



</div>
<script>
  $(document).ready(function () {
    if ($('#getGrid').hasClass('active')) {

    } else {
      $('#getGrid').addClass('active');
    }
    $('#toggleOptions').hide();
    $('#getGridbtn').click(function () {
      var putData = $('#putData').val();
      console.log('data' + putData)
      $.ajax({
        url: '/setGridRadius',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ 'data': putData }),
        cache: false,
        processData: false,
        success: function (data) {
          console.log(data);
          // alert(data);
        },
        error: function (e) {
          console.log("error");
        }
      });
    });//getdata

  });
</script>
{% endblock %}